@import url(http://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* SLUT PÅ RESET */
/*---------------------------------------------------------------------------------*/
#container {
	text-align: center;
	display: inline-block;
}
.backgroundimg {
	background-image: url('../images/frontpage.png');
	background-size: cover;
	display: block;
	-webkit-filter: blur(5px);
	height: 800px;
	left: 0;
	position: fixed;
	right: 0;
	z-index: -1;
}
div.loginbox{
	position: absolute;
	left:50%;
	top:50%;
	width:345px;
	height:170px;
	margin: -85px 0 0 -160px;
}

form.login {
	background-color: rgba(0,0,0,0.14);
	display: inline-block;
	margin: 10px;
	padding: 25px;
	align: center;
	border: 3px solid #ffffe6;
	border-radius: 10px;
	font-family: "Exo", sans-serif;
	font-size: 16px;
	font-weight: 500;
	color: #ffffe6;
}
.login input[type=submit] {
	width: 260px;
	height: 35px;
	background: #ffffe6;
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 3px;
	color: #a18d6c;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
}
.login input[type=submit]:hover, .commentfront input[type=submit]:hover {
	opacity: 0.8;
}
.login input[type=submit]:active .commentfront input[type=submit]:active {
	opacity: 0.6;
}
.login input[type=text], .login input[type=password] {
	width: 164px;
	margin: 1px;
	border:1px solid #fff;
	border-radius: 3px;
	height: 17px;
	background: transparent;
	font-family: "Exo", sans-serif;
	color: #ffffe6;
	font-size: 14px;
	font-weight: 500;
}
.login input[type=text]:focus, .login input[type=password]:focus{
	outline: none;
	background: rgba(0,0,0,0.5);
}
